# 9Router Configuration
NEXT_PUBLIC_9ROUTER_ENDPOINT=https://ai.sahru.my.id/v1
NEXT_PUBLIC_9ROUTER_API_KEY=sk-359ef6f88ed2d372-wi3lmm-fce3c847
DEFAULT_MODEL=Combo-Maut

# Google AI Studio (Opsional jika menggunakan Google direct)
GOOGLE_AI_API_KEY=
